
# Настройки для управления сетью
server.host: "0.0.0.0"
server.port: 5601

# Настройки для управления доступом
elasticsearch.hosts: [ http://192.168.10.44:9200 ]
elasticsearch.username: "{{ elastic_username }}"
elasticsearch.password: "{{ elastic_password }}"

